@model SecureEmployeeManagement.Models.Employee

<h2>Personel Bilgisi</h2>
<p>Ad Soyad: @Html.Raw(Model.FullName)</p>
<p>Bölüm: @Html.Raw(Model.Department)</p>
<p>Pozisyon: @Html.Raw(Model.Position)</p>